.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#fff, #104161);
  flex-grow: 2;
}

.header__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.header__link {
  font-weight: bold;
}

.home,
.signin,
.signup,
.profile,
.letter {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.8rem;
  margin: 1rem 0;
  width: 100%;
  max-width: 21rem;
}

.home__title,
.signin__title,
.singup__title,
.profile__title,
.letter__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #104161;
  text-align: center;
}

.home__content {
  white-space: pre-line;
}

.signin__form,
.signup__form,
.profile__form,
.letter__card {
  margin: 0.8rem 0;
}

.profile__delete,
.letter__delete {
  border-top: 1px solid #343a40;
  padding-top: 2rem;
  margin-top: 2rem;
}

.footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 0.2rem;
}