.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#fff, #104161);
  flex-grow: 2;
}

.header__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.header__link {
  font-weight: bold;
}

.section {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.8rem;
  margin: 1rem 0;
  width: 100%;
  max-width: 25rem;
}

.section__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #104161;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #343a40;
  text-align: center;
}

.section__subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #104161;
}

.section__content {
  margin: 0.8rem 0;
}

.section__content--space {
  white-space: pre-line;
}

.section__delete {
  border-top: 1px solid #343a40;
  padding-top: 2rem;
  margin-top: 2rem;
}

.footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 0.2rem;
}

@media SCREEN AND (min-width: 768px) {
  .letter > .section {
    min-width: 768px;
  }

  .section__content--row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
  }
}

@media PRINT {
  .body * {
    visibility: hidden;
  }

  .section--print, .section--print * {
    visibility: visible;
  }

  .section--print {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}