;config file

;database
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

;url BASE PATH
BASE_URL=
BASE_PATH=

;mailer
MAILER_HOST=
MAILER_PORT=587
MAILER_CLIENT_EMAIL=
MAILER_CLIENT_ID=
MAILER_CLIENT_SECRET=
MAILER_REFRESH_TOKEN=